openapi: 3.1.0
info:
  contact:
    url: https://www.asam.net/project-detail/sovd-service-oriented-vehicle-diagnostics/
  description: Definition of ASAM SOVD API
  license:
    name: Licensing Terms for Grant of Rights to Use ASAM Products
    url: https://www.asam.net/license/
  title: Service-Oriented Vehicle Diagnostic API
  version: 1.0.0
servers:
- url: https://sovd.server/v1
tags:
- description: Methods for data resource read / write access
  name: data-retrieval
- description: Methods for configuration
  name: configurations
- description: Methods for handling of bulk-data
  name: bulk-data
- description: Methods for logging
  name: logging
- description: Methods for locking
  name: locking
- description: Methods for access to cpability description content
  name: capabilities
- description: Methods for fault handling
  name: fault-handling
- description: Methods for software updates
  name: updates
- description: Methods for discovering of entities and resources
  name: discovery
- description: Methods for control of operations
  name: operations-control
- description: Methods for support of target modes
  name: target-modes
paths:
  /{any-path}/docs:
    get:
      description: "For entities, resources, and resource collections, a corresponding\
        \ online capability description can be requested at the SOVD API. The resulting\
        \ online capability description is a self-contained, valid OpenAPI specification.\
        \ The description contains information which refers to the creation, reading,\
        \ updating or deleting of the respective element and its direct child elements\
        \ as defined by the SOVD standard. An online capability description is requested\
        \ for a data resource /{entity-path}/data/{data-id} via GET /{entity-path}/data/{data-id}/docs.\
        \ For example, to enrich the responses with additional details such as the\
        \ underlying schema of the response using the “include-schema” query parameter\
        \ on the request. Moreover, for each supported HTTP method all defined HTTP\
        \ response status codes are documented together with the data model of the\
        \ resulting response payloads."
      parameters:
      - description: "Path to entity, resource or resource collection for which to\
          \ request the online capability description."
        explode: false
        in: path
        name: any-path
        required: true
        schema:
          title: id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: https://raw.githubusercontent.com/OAI/OpenAPI-Specification/main/schemas/v3.1/schema.yaml
          description: The online capability description of the underlying resource
            in form of an OpenAPI specification in JSON document format.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - capabilities
  /{entity-collection}/{entity-id}/data-categories:
    get:
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          title: id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__data_categories_get_200_response'
          description: Data categories provided by an entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - data-retrieval
  /{entity-collection}/{entity-id}/data-groups:
    get:
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__data_groups_get_200_response'
          description: Retrieve groups supported by a data resource collection.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - data-retrieval
  /{entity-collection}/{entity-id}/data:
    get:
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: "Filters the available elements based on the group they belong\
          \ to. If an element belongs to multiple groups, it is included if the group\
          \ is part of these multiple groups."
        explode: true
        in: query
        name: groups
        required: false
        schema:
          title: id
          type: string
        style: form
      - description: Filters the available elements based on their category
        explode: true
        in: query
        name: category
        required: false
        schema:
          items:
            example: currentData
            pattern: "^[A-Za-z0-9_-]+$"
            type: string
          type: array
        style: form
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__data_get_200_response'
          description: Retrieve list of all data provided by the entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - data-retrieval
  /{entity-collection}/{entity-id}/data/{data-id}:
    get:
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier for the data resource
        explode: false
        in: path
        name: data-id
        required: true
        schema:
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__data__data_id__get_200_response'
          description: Read single data value from an entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - data-retrieval
    put:
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier for the data resource
        explode: false
        in: path
        name: data-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__entity_collection___entity_id__data__data_id__put_request'
        description: "Request: Write a data value data to an entity"
        required: true
      responses:
        "204":
          description: Data written.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__data__data_id__get_200_response_errors_inner'
          description: |
            The request body does not contain all required parameter values or the signature for the provided values is invalid.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - data-retrieval
  /{entity-collection}/{entity-id}/data-lists:
    get:
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__data_groups_get_200_response'
          description: Retrieve list of all data-lists provided by the entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - data-retrieval
    post:
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__entity_collection___entity_id__data_lists_post_request'
        description: "Request: Creating a data list for reading multiple data values\
          \ at once from an entity"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__data_lists_post_201_response'
          description: Creating a data list for reading multiple data values.
          headers:
            Location:
              description: URI of the created data list.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - data-retrieval
  /{entity-collection}/{entity-id}/data-lists/{data-list-id}:
    delete:
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier for the data-list resource
        explode: false
        in: path
        name: data-list-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - data-retrieval
    get:
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier for the data-list resource
        explode: false
        in: path
        name: data-list-id
        required: true
        schema:
          title: id
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__data_lists__data_list_id__get_200_response'
          description: Read multiple data values at once from an entity using a data
            list.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - data-retrieval
  /{entity-collection}:
    get:
      description: This method provides the list of contained entities for each requested
        entity collection
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection__get_200_response'
          description: Response Body - Discover contained entities of entity collections
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - discovery
  /areas/{area-id}/subareas:
    get:
      description: This method provides the list of sub-entities for each Area.
      parameters:
      - description: Id of an requested area
        explode: false
        in: path
        name: area-id
        required: true
        schema:
          title: id
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection__get_200_response'
          description: Response Body - Discover contained entities of entity collections
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - discovery
  /components/{component-id}/subcomponents:
    get:
      description: This method provides the list of sub-entities for each Component.
      parameters:
      - description: Id of an requested component
        explode: false
        in: path
        name: component-id
        required: true
        schema:
          title: id
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection__get_200_response'
          description: Response Body - Discover contained entities of entity collections
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - discovery
  /areas/{area-id}/related-components:
    get:
      description: This method provides the list of related Components of an Area
      parameters:
      - description: Id of an requested area
        explode: false
        in: path
        name: area-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_areas__area_id__related_components_get_200_response'
          description: Response Body - Discover contained entities of entity collections
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - discovery
  /components/{component-id}/related-apps:
    get:
      description: This method provides the list of related app present on a component
      parameters:
      - description: Id of an requested component
        explode: false
        in: path
        name: component-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_areas__area_id__related_components_get_200_response'
          description: Response Body - Discover contained entities of entity collections
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - discovery
  /{entity-collection}/{entity-id}:
    get:
      description: This method returns the capabilities of an entity.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__get_200_response'
          description: The response body contains a property for each supported resource
            and related collection.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - discovery
  /{entity-collection}/{entity-id}/configurations:
    get:
      description: Provides the configurations provided by an entity.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__configurations_get_200_response'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - configurations
  /{entity-collection}/{entity-id}/configurations/{configuration-id}:
    get:
      description: "This method is used to read a configuration from an entity, which\
        \ can either be * bulk data or * parameter data (MIME type: application/json)\
        \ The SOVD standard follows the server-driven content negotiation where the\
        \ client defines its preferences using the Accept request header. If no Accept\
        \ request header is provided, the SOVD server returns a default representation."
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier for the configuration
        explode: false
        in: path
        name: configuration-id
        required: true
        schema:
          title: id
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                id: ALKConfig
                data:
                  MaximumSpeed: 150
                  MinimumDistanceToLine: 15
                  EmergencyLaneDistanceToLine: 5
                schema:
                  type: object
                  properties:
                    MaximumSpeed:
                      type: integer
                      format: int32
                      minimum: 0
                      maximum: 250
                      x-sovd-unit:
                        display_name: km/h
                        physical_dimension:
                          length: 1
                          time: -1
                    MinimumDistanceToLine:
                      type: number
                      format: float
                      minimum: 10
                      maximum: 20
                      x-sovd-unit:
                        display_name: cm
                        physical_dimension:
                          length: 1
                    EmergencyLaneDistanceToLine:
                      type: number
                      format: float
                      minimum: 5
                      maximum: 10
                      x-sovd-unit:
                        display_name: cm
                        physical_dimension:
                          length: 1
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__data_lists__data_list_id__get_200_response_items_inner'
            '*/*':
              examples:
                FormData:
                  description: "Example using \"Content-Type: multipart/form-data;\
                    \ boundary=formdataboundary\""
                  value: |-
                    --formdataboundary Content-Disposition: form-data; name="signature" Content-Type: application/json { "signature": "84e0982a082024fac464bc5eb69c0745", }
                    --formdataboundary Content-Disposition: form-data; name="ObjectRecognitionModel"; Content-Type: application/octet-stream [4D61792074686520666F726365206265207769746820796F75210D0A] --formdataboundary
              schema:
                description: "The content of the response body is OEM specific. Depending\
                  \ on the implementation, the transferred file can use multipart/signed,\
                  \ multipart/form-data with security parameters in a JSON object,\
                  \ or simply application/octet-stream (if it is not confidential\
                  \ information)."
                format: binary
                type: string
          description: "Response: Read Configurations"
        "406":
          description: "bulk data: The configuration cannot be provided in the requested\
            \ MIME type. parameter data: The configuration cannot be provided as parameter\
            \ data, i.e., the configuration cannot be provided as JSON."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - configurations
    put:
      description: "This method is used to write a configuration to an entity, which\
        \ can either be • bulk data, or • parameter data (MIME type: application/json)\
        \ The SOVD client shall tell the SOVD server in the Content-Type header, which\
        \ MIME type is written to it."
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier for the configuration
        explode: false
        in: path
        name: configuration-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__entity_collection___entity_id__configurations__configuration_id__put_request'
          '*/*':
            examples:
              FormData:
                description: "Example using \"Content-Type: multipart/form-data; boundary=formdataboundary\""
                value: |-
                  --formdataboundary Content-Disposition: form-data; name="signature" Content-Type: application/json {
                    "signature": "84e0982a082024fac464bc5eb69c0745",
                  }
                  --formdataboundary Content-Disposition: form-data; name="ObjectRecognitionModel"; Content-Type: application/octet-stream [4CD563172A936520162652AA0CC6C9746D82020F7746865206A66F2726F7B96F7521] --formdataboundary
            schema:
              description: "The content of the request body is OEM specific. Depending\
                \ on the implementation, the transferred file can use multipart/signed,\
                \ multipart/form-data with security parameters in a JSON object, or\
                \ simply application/octet-stream (if it is not confidential information)."
              format: binary
              type: string
        description: "Request: Write a data value data to an entity"
        required: true
      responses:
        "204":
          description: Configuration written.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__data__data_id__get_200_response_errors_inner'
          description: The request body does either not contain all required parameter
            values or the signature for the provided values is wrong. (only applicable
            for writing parameter data)
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: "Unable to write configuration due to unsatisfied precondition.\
            \ E.g., after satisfying precondition “vehicle not in motion” this should\
            \ be possible."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - configurations
  /{entity-collection}/{entity-id}/operations:
    get:
      description: This method returns all available operations defined for the given
        entity.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether operations which require a proximity proof
          are returned or not. The default is true.
        explode: true
        in: query
        name: include-proximity-proof
        required: false
        schema:
          type: boolean
        style: form
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__operations_get_200_response'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - operations-control
  /{entity-collection}/{entity-id}/operations/{operation-id}:
    get:
      description: This method returns all the details on the specified operation
        of the given entity.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the operation
        explode: false
        in: path
        name: operation-id
        required: true
        schema:
          title: id
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__operations__operation_id__get_200_response'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - operations-control
      x-sovd-asynchronous-execution: true
  /{entity-collection}/{entity-id}/operations/{operation-id}/executions:
    get:
      description: This method returns currently existing executions of the given
        operation.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the operation
        explode: false
        in: path
        name: operation-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__operations__operation_id__executions_get_200_response'
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - operations-control
    post:
      description: "Start Execution of an Operation An operation may support multiple\
        \ executions in parallel. If this is not supported, this method will return\
        \ an error if an operation with the same operation-id is already being executed.\
        \ A successfully started operation is added to the executions collection if\
        \ it is executed asynchronously. After the asynchronous execution has been\
        \ finished, the execution resource remains existent and an SOVD client can\
        \ receive the status. However, the status of the execution cannot be queried\
        \ indefinitely as an SOVD server implementation may remove the resource, e.g.,\
        \ upon SOVD server restart."
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the operation
        explode: false
        in: path
        name: operation-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__entity_collection___entity_id__operations__operation_id__executions_post_request'
        description: "Request: Start execution of an operation"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__operations__operation_id__executions_post_200_response'
          description: "The operation returned immediately, and the response body\
            \ contains the final result of the operation (“synchronous execution”\
            )."
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__operations__operation_id__executions_post_202_response'
          description: The execution of the operation has been triggered by the SOVD
            server. The successful response code does not indicate that the operation
            has been started successfully. An SOVD client would then use the method
            for retrieving the status to request the status of this particular execution
            instance of the operation (“asynchronous execution”).
          headers:
            Location:
              description: "The response for status code 202 includes the following\
                \ header to redirect the SOVD client for requesting the status: Location:\
                \ /{entity-path}/operations/{operation-id}/executions/{execution-id}"
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: "The method is currently not available, e.g., because the operation\
            \ is still executing."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - operations-control
  /{entity-collection}/{entity-id}/operations/{operation-id}/executions/{execution-id}:
    delete:
      description: "This method terminates the execution of the operation and removes\
        \ it, and the status of the operation can no longer be requested."
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the operation
        explode: false
        in: path
        name: operation-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the operation execution
        explode: false
        in: path
        name: execution-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__entity_collection___entity_id__operations__operation_id__executions__execution_id__delete_request'
        description: "Request: Stop the execution of an operation"
        required: true
      responses:
        "204":
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - operations-control
    get:
      description: This method returns the current status of the operation execution.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the operation
        explode: false
        in: path
        name: operation-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the operation execution
        explode: false
        in: path
        name: execution-id
        required: true
        schema:
          title: id
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__operations__operation_id__executions__execution_id__get_200_response'
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - operations-control
    put:
      description: This method executes the given capability on the provided operation.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the operation
        explode: false
        in: path
        name: operation-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the operation execution
        explode: false
        in: path
        name: execution-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__entity_collection___entity_id__operations__operation_id__executions__execution_id__put_request'
        description: "Request: Support for execute / freeze / reset and OEM-specific\
          \ capabilities"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__operations__operation_id__executions_post_202_response'
          description: The execution of the capability has been triggered by the SOVD
            server. The successful response code does not indicate that the operation
            has executed the capability successfully.
          headers:
            Location:
              description: "The response for status code 202 includes the following\
                \ header to redirect the SOVD client for requesting the status: Location:\
                \ /{entity-path}/operations/{operation-id}/executions/{execution-id}"
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - operations-control
      x-sovd-capabilities:
      - execute
      - freeze
      - reset
  /{entity-collection}/{entity-id}/modes:
    get:
      description: This method returns all available modes defined for the given entity.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__modes_get_200_response'
          description: The request was successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - target-modes
  /{entity-collection}/{entity-id}/modes/{mode-id}:
    $ref: "./modes/modes.yaml#/paths/~1%7Bentity-collection}~1%7Bentity-id%7D~1modes~1%7Bmode-id%7D"
  /{entity-collection}/{entity-id}/logs/entries:
    get:
      description: This method provides the log information aggregated by that entity.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: severity
        required: false
        schema:
          description: The severity specifies the log-level for the given context.
          enum:
          - fatal
          - error
          - warn
          - info
          - debug
          title: severity
          type: string
        style: form
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                items:
                - timestamp: 2021-07-20T00:00:04.387819Z
                  context:
                    type: RFC5424
                    host: Linux
                    process: systemd
                    pid: 1
                  severity: info
                  msg: Closed D-Bus User Message Bus Socket
                  href: https://sovd.server/v1/components/DrivingComputer/bulk-data/logs/server.log
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__logs_entries_get_200_response'
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - logging
  /{entity-collection}/{entity-id}/logs/config:
    delete:
      description: This method resets the current configuration to its default.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Configuration has been reset successfully.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: The SOVD client tried to reset a configuration which does not
            exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - logging
    get:
      description: "This method returns an array of configured SOVD LogConfiguration\
        \ elements, specifying the different contexts for which a specific log configuration\
        \ was created with the method Configure SOVD Logging."
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                contexts:
                - context:
                    type: RFC5424
                    host: Linux
                    process: systemd
                    pid: 1
                  severity: info
                - context:
                    type: AUTOSAR_DLT
                    session: SES01
                    session_id: 0x0001
                    application_id: WindowControl
                    context_id: STD0
                    message_id: msg000012
                  severity: info
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__logs_config_get_200_response'
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - logging
    put:
      description: This method configures the log aggregation.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              items:
              - context:
                  type: RFC5424
                  host: Linux
                  process: systemd
                severity: warn
            schema:
              $ref: '#/components/schemas/__entity_collection___entity_id__logs_config_put_request'
        description: Request Body - Configure SOVD logging
        required: true
      responses:
        "204":
          description: The configuration was accepted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: Invalid configuration provided
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - logging
  /{entity-collection}/{entity-id}/locks:
    get:
      description: The method returns the acquired locks for the given entity.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__locks_get_200_response'
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - locking
    post:
      description: "This method acquires a lock from the SOVD server for the given\
        \ entity to reserve its resources for exclusive access of a single SOVD client,\
        \ i.e., prevent other SOVD clients from operating on the resources in parallel.\
        \ Any further requests against the SOVD API towards controlling an operation\
        \ (actuators, routines, and input control), e.g., start the execution of an\
        \ operation, is rejected by the SOVD server if the required lock is not acquired\
        \ by the same SOVD client. Once the lock is not required anymore, the SOVD\
        \ client can delete the created lock resource by a corresponding DELETE request.\
        \ In addition, an SOVD client shall provide a relative expiration time after\
        \ which the SOVD server should release the lock automatically. The SOVD server\
        \ might reject the requested expiration time if it is too long. As a result,\
        \ the SOVD server deletes the corresponding lock resource."
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__entity_collection___entity_id__locks_post_request'
        description: Request body - Acquire a lock on an entity
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__locks_post_201_response'
          description: The SOVD server has successfully created a new lock resource
            and acquired a lock on all relevant resources.
          headers:
            Location:
              description: "The following header redirects the SOVD client for requesting\
                \ the status: Location: /{entity-path}/locks/{lock-id}"
              example: https://sovd.server/v1/components/PowerSteering/locks/15c3e824-8278-44e1-b0b2-3bc16e4522f2
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: The SOVD server rejected the creation of the lock resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - locking
  /{entity-collection}/{entity-id}/locks/{lock-id}:
    delete:
      description: This method releases an acquired lock by deleting the created lock
        resource.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: The resource identifier of the lock resource to be deleted.
        explode: false
        in: path
        name: lock-id
        required: true
        schema:
          title: id
          type: string
        style: simple
      responses:
        "204":
          description: The request was successful.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: The SOVD server rejected the extension of the lock resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - locking
    get:
      description: The method returns all the details on the specified lock of the
        given entity. For extending the expiration of a lock the method described
        in 6.11.5 has to be invoked.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: The resource identifier of the lock resource to be requested.
        explode: false
        in: path
        name: lock-id
        required: true
        schema:
          title: id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__locks__lock_id__get_200_response'
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - locking
    put:
      description: This method extends an acquired lock by providing a new expiration
        time. The extension is only valid for the SOVD client that has already acquired
        the corresponding lock.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier of a previous lock owned by the SOVD client.
        explode: false
        in: path
        name: lock-id
        required: true
        schema:
          title: id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/__entity_collection___entity_id__locks_post_request'
        description: Request body - Acquire a lock on an entity
        required: true
      responses:
        "204":
          description: The request was successful.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: The SOVD server rejected the extension of the lock resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - locking
  /{entity-collection}/{entity-id}/bulk-data:
    get:
      description: This method provides the list of bulk data categories supported
        by an entity. The result contains all available and based on the authorization
        accesible bulk data categories. Certain bulk data categories are hidden based
        on the user’s authorization.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                items:
                - maps
                - pois
                - logs
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__bulk_data_get_200_response'
          description: The bulk data categories supported by the entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - bulk-data
  /{entity-collection}/{entity-id}/bulk-data/{category}:
    $ref: "./bulkdata/bulkdata.yaml#/paths/~1{entity-collection}~1{entity-id}~1bulk-data~1{category}"
  /{entity-collection}/{entity-id}/bulk-data/{category}/{bulk-data-id}:
    $ref: "./bulkdata/bulkdata.yaml#/paths/~1{entity-collection}~1{entity-id}~1bulk-data~1{category}~1{bulk-data-id}"
  /updates:
    post:
      description: "The method registers a new update at the SOVD server which can\
        \ be installed afterwards. After creating the update, the SOVD client has\
        \ to use the methods described before for installing the update (automated\
        \ or prepare & execute)."
      parameters:
      - description: OEM-specific
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          title: id
          type: string
        style: simple
      requestBody:
        content:
          '*/*':
            schema:
              description: "Additional OEM-specific information describing the environment\
                \ of the system at the time of setting the fault. Condition: Only\
                \ set if the fault provides the requested information."
              example: null
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_updates_post_201_response'
          description: The request was successful.
          headers:
            Location:
              description: "The URI to the newly created example. <br> /{entity-path}/updates/{update-package-id}/status"
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - updates
  /{entity-collection}/{entity-id}/updates:
    get:
      description: The method returns the available updates for the entity.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Defines the version which is requested by the SOVD client. This
          version can be a specific version or a version pattern.
        explode: true
        in: query
        name: target-version
        required: false
        schema:
          title: id
          type: string
        style: form
      - description: "Defines from where the update is requested, e.g., inside a workshop\
          \ or by an OTA update request. Default: remote"
        explode: true
        in: query
        name: origin
        required: false
        schema:
          $ref: '#/components/schemas/__entity_collection___entity_id__updates_get_origin_parameter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__updates_get_200_response'
          description: Update package identifier
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - updates
  /{entity-collection}/{entity-id}/updates/{update-package-id}:
    delete:
      description: The method deletes an update package from SOVD server. The resource
        is afterwards not available anymore.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the update package
        explode: false
        in: path
        name: update-package-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The request was successful.
        "405":
          description: Deleting is not foreseen for an autonomous update-package-id.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - updates
    get:
      description: The method returns detailed information for a given update package.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the update package
        explode: false
        in: path
        name: update-package-id
        required: true
        schema:
          title: id
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__updates__update_package_id__get_200_response'
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - updates
  /{entity-collection}/{entity-id}/updates/{update-package-id}/automated:
    put:
      description: "The method starts the automated installation of the update package.\
        \ For this scenario, the SOVD server and the OEM’s backend have full control\
        \ over the update process and decide which action can be taken when. The method\
        \ returns immediately and redirects the SOVD client to a method for requesting\
        \ the status and progress of the installation."
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the update package
        explode: false
        in: path
        name: update-package-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: "If no error is detected immediately (e.g., because the update\
            \ package does not exist)"
          headers:
            Location:
              description: "The URI to the newly created example. <br> /{entity-path}/updates/{update-package-id}/status"
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "409":
          content:
            application/json:
              examples:
                not_supported:
                  value:
                    error_code: update-automated-not-supported
                    message: The package cannot be installed automatically
                ongoing:
                  value:
                    error_code: update-process-in-progress
                    message: An update is already in preparation
                    parameters:
                      key: id
                      value: Identifier of update
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__operations__operation_id__executions_post_200_response_error'
          description: An update is already in installation and not yet done or aborted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - updates
  /{entity-collection}/{entity-id}/updates/{update-package-id}/execute:
    put:
      description: |-
        The method starts the installation and activation of the update package. As part of this step the following tasks are performed for example:
          - Validation if the update package is still installable (e.g., checking the software versions of the updated entities)
          - Installation of the update on all updated entities
          - Configuration of the entities
          - Execution of specific post install actions
          - Activation of the update (e.g., by switching to B-memory)
          - Rollback of update in case of an error

        The method returns immediately and redirects the SOVD client to a method for requesting the status and progress of the installation. After the update has been finished, the resource for the update package (and its sub-resources like status) remains existent and an SOVD client can receive the status of an update package. However, the status of the update package cannot be queried indefinitely as an SOVD server implementation may remove the update package resource, e.g., upon SOVD server restart or the retrieval of new update packages.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the update package
        explode: false
        in: path
        name: update-package-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: "If no error is detected immediately (e.g., because the identifier\
            \ does not exist)."
          headers:
            Location:
              description: "The URI to the newly created example. <br> /{entity-path}/updates/{update-package-id}/status"
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - updates
  /{entity-collection}/{entity-id}/updates/{update-package-id}/prepare:
    put:
      description: |-
        The method starts the preparation of the update package for installation. As part of this step the following tasks are performed for example:
          - Validates if the update package is still installable (e.g., checking the software versions of the affected entities)
          - Download of update package from OTA backend
          - Validation of the integrity of update package
          - Applying deltas
          - Installing the update in B-memory

        The method returns immediately and redirects the SOVD client to a method for requesting the status and progress of the preparation. An SOVD server may remove prepared updates after an OEM defined amount of time. An explicit removal of a prepared update by an SOVD client is not provided by the SOVD API as the update is implicitly removed after installation. If an update fails, it is in general not implicitly removed as the prepared package may be used for anoth
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the update package
        explode: false
        in: path
        name: update-package-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: "If no error is detected immediately (e.g., because the update\
            \ package does not exist)"
          headers:
            Location:
              description: "The URI to the newly created example. <br> /{entity-path}/updates/{update-package-id}/status"
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - updates
  /{entity-collection}/{entity-id}/updates/{update-package-id}/status:
    get:
      description: The method returns the status of the preparation or execution of
        the update.
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier for the update package
        explode: false
        in: path
        name: update-package-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__entity_collection___entity_id__updates__update_package_id__status_get_200_response'
          description: "If no error is detected immediately (e.g., because the identifier\
            \ does not exist)."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - updates
  /{entity-collection}/{entity-id}/faults:
    delete:
      description: This method deletes all fault entries of an entity.
      operationId: deleteAllFaults
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: The scope (e.g. user-defined error memories) for which faults
          are retrieved. The capability description defines which scopes are supported.
        explode: true
        in: query
        name: scope
        required: false
        schema:
          type: string
        style: form
      responses:
        "204":
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - fault-handling
    get:
      description: "This method provides the fault entries which are detected for\
        \ an entity, if no query parameter is used. The returned fault entries may\
        \ be filtered by their status."
      operationId: getFaults
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      - description: "Filters the available elements based on a key from the status.\
          \ The provided value is a full match against the key and value of the attribute\
          \ status in the response. For filtering by multiple status, the parameter\
          \ is repeated (0 .. *). If multiple status are provided, they are logically\
          \ OR combined. The keys supported by an entity are defined in the capability\
          \ description of the entity."
        explode: true
        in: query
        name: "status[key]"
        required: false
        schema:
          title: id
          type: string
        style: form
      - description: Filter fault entries by their severity. Any fault with a severity
          below the given number will be included in the response.
        explode: true
        in: query
        name: severity
        required: false
        schema:
          type: integer
        style: form
      - description: The scope (e.g. user-defined error memories) for which faults
          are retrieved. The capability description defines which scopes are supported.
        explode: true
        in: query
        name: scope
        required: false
        schema:
          title: id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFaults_200_response'
          description: Retrieve list of all faults provided by the entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - fault-handling
  /{entity-collection}/{entity-id}/faults/{fault-code}:
    delete:
      description: This method deletes the given fault entry from an entity.
      operationId: deleteFaultById
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: The scope (e.g. user-defined error memories) for which faults
          are retrieved. The capability description defines which scopes are supported.
        explode: false
        in: path
        name: fault-code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Fault entry has been deleted successfully.
        "404":
          description: The SOVD client tried to delete a fault entry which is not
            defined for the entity.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: "The SOVD client does not fulfill the conditions for deleting\
            \ a single DTC, e.g., the DTC is safety relevant. The SOVD server should\
            \ supply SOVD REST API ASAM SOVD, API Specification Version 1.0.0 57 information\
            \ in the GenericError which condition is not met (e.g., safety conditions,\
            \ DTC not set, …)"
        "501":
          description: The request for deleting single fault entries is not supported
            by the entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - fault-handling
    get:
      description: This method provides the details for a fault-code.
      operationId: getFaultById
      parameters:
      - description: Path to an entity collection
        explode: false
        in: path
        name: entity-collection
        required: true
        schema:
          enum:
          - Area
          - Component
          - App
          - Function
          type: string
        style: simple
      - description: ID of an entity
        explode: false
        in: path
        name: entity-id
        required: true
        schema:
          type: string
        style: simple
      - description: The scope (e.g. user-defined error memories) for which faults
          are retrieved. The capability description defines which scopes are supported.
        explode: false
        in: path
        name: fault-code
        required: true
        schema:
          title: id
          type: string
        style: simple
      - description: "Specifies whether the response should include schema information\
          \ or not. Default: false"
        explode: true
        in: query
        name: include-schema
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                item:
                  code: 0012E3
                  scope: Default
                  display_code: P102
                  fault_name: No signal from sensor
                  fault_translation_id: CAMERA_0012E3_tid
                  severity: 1
                  status:
                    testFailed: "1"
                    testFailedThisOperationCycle: "1"
                    pendingDTC: "0"
                    confirmedDTC: "1"
                    testNotCompletedSinceLastClear: "1"
                    testFailedSinceLastClear: "0"
                    testNotCompletedThisOperationCycle: "0"
                    warningIndicatorRequested: "0"
                    mask: 1E
                    aggregatedStatus: active
                environment_data:
                  id: env_data
                  data:
                    battery_voltage: 12.8
                    occurence_counter: 12
                    first_occurence: 2021-06-22T11:47:22Z
                    last_occurence: 2021-07-01T10:12:53Z
              schema:
                $ref: '#/components/schemas/getFaultById_200_response'
          description: The request was successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__any_path__docs_get_default_response'
          description: An unexpected error occurred.
      tags:
      - fault-handling
  /ecu/engine/faults:
    delete:
      description: Delete all faults from the simulated engine ECU.
      operationId: clearEngineEcuFaults
      responses:
        "204":
          description: All faults cleared
      summary: Clear Engine Faults
      tags:
      - fault-handling
    get:
      description: "Retrieve faults from the simulated engine ECU. Supports scope\
        \ filter (active, pending, permanent)."
      operationId: getEngineEcuFaults
      parameters:
      - description: Filter faults by scope
        explode: true
        in: query
        name: scope
        required: false
        schema:
          enum:
          - active
          - pending
          - permanent
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: ./faults/faults.yaml#/components/schemas/Fault
                type: array
          description: List of engine faults
        "500":
          description: Internal server error
      summary: Get Engine Faults
      tags:
      - fault-handling
    post:
      description: Inject a simulated fault into the engine ECU (for testing purposes).
      operationId: addEngineEcuFault
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./faults/faults.yaml#/components/schemas/Fault
        required: true
      responses:
        "201":
          description: Fault created
        "400":
          description: Bad request
      summary: Add Engine Fault
      tags:
      - fault-handling
  /ecu/engine/faults/{fault_id}:
    get:
      description: Retrieve a specific fault from the engine ECU by its ID.
      operationId: getEngineEcuFaultById
      parameters:
      - description: The fault DTC code
        explode: false
        in: path
        name: fault_id
        required: true
        schema:
          title: id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: ./faults/faults.yaml#/components/schemas/Fault
          description: Fault details
        "404":
          description: Fault not found
      summary: Get Engine Fault By ID
      tags:
      - fault-handling
  /ecu/engine/data:
    get:
      description: Retrieve all available data items from the simulated engine ECU.
      operationId: getEngineEcuData
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: List of ECU data items
      summary: Get All ECU Data
      tags:
      - data-retrieval
  /ecu/engine/data/{data_id}:
    get:
      description: Retrieve a specific data item from the engine ECU.
      operationId: getEngineEcuDataById
      parameters:
      - explode: false
        in: path
        name: data_id
        required: true
        schema:
          title: id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Data item
        "404":
          description: Not found
      summary: Get ECU Data By ID
      tags:
      - data-retrieval
    put:
      description: Write a value to a specific data item of the engine ECU.
      operationId: updateEngineEcuData
      parameters:
      - explode: false
        in: path
        name: data_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          description: Updated
        "400":
          description: Bad request
      summary: Update ECU Data
      tags:
      - data-retrieval
  /ecu/engine/data/speed:
    get:
      description: Retrieve the current simulated vehicle speed from the engine ECU.
      operationId: getEngineEcuSpeed
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEngineEcuSpeed_200_response'
          description: Current speed value
      summary: Get Vehicle Speed
      tags:
      - data-retrieval
  /ecu/engine/data/speed/events:
    get:
      description: Server-Sent Events stream for real-time vehicle speed updates.
        Implements SOVD ResponseOnEvent mechanism (equivalent to UDS 0x86). Pushes
        speed values every 500ms.
      operationId: getEngineEcuSpeedEvents
      responses:
        "200":
          content:
            text/event-stream:
              schema:
                title: id
                type: string
          description: SSE stream of speed events
      summary: SSE - Speed ResponseOnEvent
      tags:
      - data-retrieval
  /ecu/engine/logs:
    delete:
      description: Clear all diagnostic logs from the engine ECU.
      operationId: clearEngineEcuLogs
      responses:
        "204":
          description: Logs cleared
      summary: Clear Engine Diagnostic Logs
      tags:
      - logging
    get:
      description: Retrieve diagnostic logs from the simulated engine ECU.
      operationId: getEngineEcuLogs
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: List of log entries
      summary: Get Engine Diagnostic Logs
      tags:
      - logging
  /ecu/engine/updates:
    get:
      description: List available software update packages for the engine ECU.
      operationId: getEngineEcuUpdates
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: List of update packages
      summary: Get Available Updates
      tags:
      - updates
    post:
      description: Start a software update process for the engine ECU.
      operationId: initiateEngineEcuUpdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "202":
          description: Update initiated
      summary: Initiate Software Update
      tags:
      - updates
  /ecu/engine/updates/{update_id}:
    get:
      description: Check the status of a software update for the engine ECU.
      operationId: getEngineEcuUpdateStatus
      parameters:
      - explode: false
        in: path
        name: update_id
        required: true
        schema:
          title: id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Update status
        "404":
          description: Update not found
      summary: Get Update Status
      tags:
      - updates
components:
  schemas:
    __entity_collection___entity_id__data_get_200_response_items_inner:
      example:
        translation_id: translation_id
        name: name
        groups:
        - groups
        - groups
        id: id
        category: currentData
      properties:
        id:
          title: id
          type: string
        name:
          title: id
          type: string
        translation_id:
          title: id
[...]
